version: '3'
services:
    web:
        container_name: main
        build:
            context: .
            dockerfile: ./Docker/main/Dockerfile
        ports: 
             - 8080:80
        volumes: 
             - ./app:/app
        env_file: 
            - ./app/.env
    file_server:
        container_name: file_server
        build:
            context: .
            dockerfile: ./Docker/file_server/Dockerfile
        ports: 
             - 8081:81
        volumes: 
             - ./file_server:/file_server
        env_file: 
            - ./file_server/.env
    db:
        image: postgres:latest
        restart: always
        container_name: postgresdb
        volumes:
            - postgresql-volume:/var/lib/postgresql/data
        ports:
            - 5432:5432
        env_file: 
            - ./app/.env
    redis:
        container_name: redisdb
        image: "redis:alpine"
volumes:
    postgresql-volume:
        external: true
