<nav class="navbar navbar-dark bg-mynav navbar-expand-md">

    <a class="navbar-brand mr-2" href="/">
        <img src="/img/book.png" width="30" height="30" class="d-inline-block align-bottom" alt="">
        Bib-maker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('index.index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('articles.add_article')}}">Add article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('articles.show_articles')}}">My articles</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link">Logged as: {{current_user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
            {% endif %}
            </li>
        </ul>
    </div>
</nav>