{% extends "layout.html" %}
{% block content %}
<div id="table">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>AUTHOR</th>
                <th>TITLE</th>
                <th>PAGES</th>
                <th>DOWNLOAD</th>
                <th>DELETE FILE</th>
                <th>DELETE BOOK</th>
            </tr>
        </thead>
        <tbody id="result">
        </tbody>
    </table>
</div>

<script>
    const BASE_URL = 'https://localhost:8081/article-list'
    const DELETE = '/delete/'

    document.addEventListener('DOMContentLoaded', function (event) {
        loadJSON();
    });

    function loadJSON() {
        fetch(BASE_URL, {
            method: 'get',
            mode: 'cors',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(function (data) {
                let html = '';
                data.forEach(function (article) {
                    html += `<tr>
                                <td>${article.author}</td>
                                <td>${article.title}</td>
                                <td>${article.pages}</td>`

                    if (article.download_link == "") {
                        html += `<td>No file</br>
                                <input type="file" id="${article.id}" name="article" onchange="upload_file(this);" style="display:none"/>
                                <button class="btn btn-success btn-sm" onclick="document.getElementById('${article.id}').click();">Upload</button>
                                 </td>`;
                    } else {
                        html += `
                    <td><a href="${article.download_link}" class="btn btn-primary btn-sm">Download</a></td>`;
                    }
                    html += `
                    <td>
                    <button onClick="delete_file(this);" data-id="${article.id}" class="delete btn btn-danger btn-sm">Delete file</button>
                    </td>
                    <td>   
                        <button onClick="delete_book(this);"  data-id="${article.id}" class="delete btn btn-danger btn-sm">Delete</button>   
                    </td>
                    </tr>`;
                    console.log(article.download_link)
                });
                document.getElementById('result').innerHTML = html
            }).catch((err) => console.log(err))
    }

    function delete_book(d) {
        let item_id = d.getAttribute("data-id");
        fetch(BASE_URL + '/' + item_id, {
            method: 'DELETE',
            mode: 'cors',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(data => loadJSON())
            .catch(err => console.log(err))
    }

    function delete_file(d) {
        let item_id = d.getAttribute("data-id");
        fetch(BASE_URL + '/files/' + item_id, {
            method: 'DELETE',
            mode: 'cors',
            credentials: 'include'
        })
            .then(response => response.json())
            .then(data => loadJSON())
            .catch(err => console.log(err))
    }

    function upload_file(data) {
        let fileData = new FormData();
        let file = data.files[0];
        let item_id = data.getAttribute("id");
        fileData.append("Article", file)
        console.log(item_id);
        console.log(file);
        fetch(BASE_URL + '/files/' + item_id, {
            method: 'PATCH',
            mode: 'cors',
            credentials: 'include',
            body: fileData
        })
            .then(response => response.json())
            .then(data => loadJSON())
            .catch(err => console.log(err))
    }





</script>

{% endblock %}