{% extends "layout.html" %}

{% block content %}
<div class="content">
	<main>
		<h2>Bib-Maker</h2>
		<p>
			Bib-Maker to narzędzie do tworzenia i zarządzania bibliografiami.
			Pozwala na generowanie opisów bibliograficznych, co pozwala zaoszczędzić autorom czas.
		</p>
		<article>
			<h3>
				Dlaczego warto używać Bib-Makera?
			</h3>
			<p>
				<ul>
					<li>Ułatwia gromadzenie rekordów bibliograficznych</li>
					<li>Łatwa zmiana stylu bibliograficznego</li>
					<li>Możliwość współpracy z popularnymi edytorami tekstu</li>
					<li>Opcja eksportu do pliku pdf</li>
				</ul>
			</p>
		</article>
	</main>
</div>
{% endblock %}