{% extends "layout.html" %}
{% block content %}

<div class="signup-form">
    <form action="{{url_for('auth.register')}}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label}} <br>
            {{ form.username(class_="form-control")}}
            {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label}} <br>
            {{ form.email(class_="form-control")}}
            {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }} <br>
            {{ form.password(class_="form-control") }}
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm.label }} <br>
            {{ form.confirm(class_="form-control") }}
            {% for error in form.confirm.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class_="btn btn-success btn-lg btn-block") }}
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="{{url_for('auth.login')}}">Log in</a></div>
</div>

{% endblock %}